doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src='/js/leafletapp.js' async defer)
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width")

  body
    block interface
    block content